/* Code adapted from https://github.com/prakhar1989/react-tags#placeholderOption */

.container {
    margin: auto;
    width: 50%;
}
.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
.ReactTags__tagInput {
    width: 50%;
    border-radius: 2px;
    display: inline-block;
    margin: 10px 0px;

}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 45px;
    margin: 0;
    font-size: 15px;
    width: 100%;
    border: 1px solid #eeeeee;
    padding: 5px 20px;
}

.ReactTags__tagInput input.ReactTags__tagInputField:hover {
    border: 1px solid black;
}

/* Styles for selected tags */

.ReactTags__selected {
    width: 60%;
}

.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #dddddd;
    background: #eee;
    font-size: 15px;
    display: inline-block;
    padding: 10px;
    margin:5px;
    border-radius: 2px;
}

.ReactTags__selected span.ReactTags__tag:hover {
    border: 1px solid black;
}

.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
    position: absolute;
}
.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}

.ReactTags__remove {
    border: none;
    cursor: pointer;
    background: none;
}